<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="main_index">
                <div class="index_first_text index_text text-bolder-index">
                    컴퓨터를 저렴하게 구매하고 싶나요?
                </div>

                <img class="index_image" src="image/computer_image_1.png" alt="">

                <div class="index_text text-bolder-index index_margin">
                    그렇다면 직접 부품을 구입하고 제품을 조립해보세요!<br>훨씬 저렴한 가격으로 사용할 수 있습니다.
                </div>

                <div class="index_btn_box">
                    <a th:href="@{/shop/view}" class="index_btn">컴퓨터 견적 알아보기</a>
                </div>
                
            </div>
</div>

</html>